language: julia

os:
  - linux
  - osx

compiler:
  - clang

julia:
  - 0.3
  - 0.4
  - nightly

notifications:
  email:
    recipients:
      - andreasnoackjensen@gmail.com
    on_success: never

script:
  - julia -e 'Pkg.init(); Pkg.add("RNGTest")'
  - julia -e 'using RNGTest; @assert isdefined(:RNGTest); @assert typeof(RNGTest) === Module'
  - julia test/runtests.jl